.App {
  text-align: center;
}

.font-link {
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chart-wrapper {
  padding: 1%;
  width: 96%;
  display: inline-block;
}

.main.chart-wrapper {
  height: 400px;
}

.sub.chart-wrapper {
  height: 300px;
}

.middle.chart-wrapper {
  height: 300px;
}

@media (min-width: 700px) {
  .sub.chart-wrapper {
    width: 29%;
  }
}

@media (min-width: 700px) {
  .middle.chart-wrapper {
    width: 29%;
  }
}